* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #000;
  background-position: unset;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
}

/* Navbar */
.navbar {
  width: 90%;
  margin: 20px auto;
  background: none;
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(82, 193, 245, 0.2);
  position: justify;
  justify-content: space-between;
}

.nav-left {
  font-size: 18px;
  font-weight: bold;
  color: #1a1a2e;
}

nav ul {
  border: none;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 28px;
  align-items: center;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
}

nav ul li a:hover {
  color: aqua;
  transition: color 0.3s ease;
}

/*hamburger*/
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 30px;
}

/*mobile*/
@media (max-width: 760px) {
  nav ul {
    position: absolute;
    top: 60px;
    right: 30px;
    background: none;
    flex-direction: column;
    width: 0px;
    height: 0px;
    overflow: hidden;
    transition: height 0.8s ease;
  }

  nav ul.active {
    height: 200px;
    width: 150px;
    padding: 10px 0;
    box-shadow: 0px 4px 20px rgba(56, 210, 248, 0.1);
  }

  nav ul li {
    text-align: center;
    padding: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .container {
    flex-direction: column;
  }

  .about-text {
    padding: 20px 0;
  }
}

/* Hero Section */
.hero {
  margin: -30px 0 0 0;
}
.hero .container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

.profile-photo {
  border-radius: 0% 0% 50% 30%;
  width: 400px;
  height: 550px;
  object-fit: contain;
  animation: bounce 2s cubic-bezier(0.28, 0.84, 0.42, 1) infinite;
  will-change: transform;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);
  }
  55% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(-30px);
  }
  85% {
    transform: translateY(0px);
  }
}

.name {
  font-size: 50px;
  font-weight: 800;
  margin: 10px 0 5px;
  color: aqua;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animated-text {
  font-size: 20px;
  font-weight: 400;
  min-width: 280px;
  color: grey;
  height: 100px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.cursor {
  display: inline-block;
  width: 2px;
  background: grey;
  animation: blink 0.8s infinite;
  vertical-align: middle;
}

.description {
  font-size: 18px;
  color: #fff;
  margin-top: px;
  max-width: 400px;
  line-height: 1.5;
  text-align: center;
  font-family: "Playwrite CA", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 10;
  }
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.about {
  padding: 60px 20px;
  background: none;
}
.about .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  max-width: 60%;
  height: 65vh;
  margin: auto;
  flex-wrap: wrap;
  box-shadow: 0px 4px 20px rgba(82, 193, 245, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.about-text {
  margin: 30px 15px 0 15px;
  flex: 1;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: white;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

button {
  background: none;
  border-radius: 30;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.about .container button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 30px;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 30px;
  box-shadow: 0px 4px 20px rgba(82, 193, 245, 0.2);
}

.about .container button:hover {
  background-color: aqua;
  color: #333;
}
.services .heading {
  text-align: left;
  font-size: 2rem;
  color: white;
  margin: 20px;
}

.services .two {
  margin-left: 60px;
}

.services p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #555;
}

.services .container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 60%;
  margin: auto;
  flex-wrap: wrap;
  box-shadow: 0px 4px 20px rgba(82, 193, 245, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card {
  flex: 1;
  width: 250px;
  padding: 30px;
  border-radius: 8px;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0px 4px 20px rgba(82, 193, 245, 0.2);
}

.card .icon {
  font-size: 40px;
  margin-bottom: 15px;
  display: block;
}

.card:nth-child(1):hover {
  color: #333;
}
.card:nth-child(2) {
  color: #333;
}
.card:nth-child(3) {
  color: #333;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: whitesmoke;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  font-size: 24px;
  background: #333;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(82, 193, 245, 0.2);
  transition: background 0.3s;
}
#backToTop:hover {
  background: aqua;
}

.contact {
  padding: 60px 20px;
  background: none;
  text-align: center;
  color: #fff;
}

.contact .container {
  max-width: 600px;
  margin: auto;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: grey;
}

.contact p {
  color: #555;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.contact-info p {
  margin: 12px 0;
  font-size: 1.1rem;
  color: #444;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-info i {
  color: #333;
  font-size: 1.2rem;
}

.contact-info a {
  color: #444;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: aqua;
}
